<div class="videos">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="k_content_title">Videos</h2>
        </div>
    </div>
    <div class="row">
        <div class="k_wrap_buttons col-md-12">
            <button type="button" id="addData" class="btn k_success" ng-click="addData()">Add Row</button>
            <button type="button" class="btn k_success" ng-click="clearAll()">Clear All</button>
            <button type="button" class="btn k_success" ng-click="deleteSelected()">Delete Selected</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="grid3" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-validate ui-grid-selection ui-grid="gridOptions" class="grid"></div>
        </div>
    </div>
    <div class="row">

        <script type="text/ng-template" id="videoModalContent.html">
            <div class="modal-header">
                <h3>Add Video</h3>
            </div>
            <form role="form" name="myForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" ng-model="name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Link</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="link" ng-model="link" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Performer</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="performer" ng-model="performer" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Music by</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="music_by" ng-model="music_by">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lyrics by</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="lyrics_by" ng-model="lyrics_by">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button  class="btn btn-info" ng-disabled="!myForm.$valid" ng-click="addVideo(picFileLarge, picFileSmall)">Save</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </div>
            </form>
        </script><!--myModalContent-->
    </div>
</div>