/* app css stylesheet */

html, body {
  height: 100%;
}

body{
  background: #340b35;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
input.k_input,
select.k_input,
textarea.k_input{
  color: #666;
  border: 2px solid #b7a261;
}
input.k_submit{
  background: #666;
  color: #ffffff;
  border: 2px solid #666;
  border-radius: 4px;
  padding: 6px 12px;
  text-align: center;
  outline: none;
}
input.k_checkbox{
  float: right;
  display: inline-block;
  vertical-align: bottom;
  width: 34px;
  height: 34px;
}
label.k_checkbox_label{
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  line-height: 42px;
}

h1,h2,h3,h4,h5,h6{
  font-style: normal;
  font-weight: bold;
}
h1{
  font-size: 32px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 19px;
}
h4{
  font-size: 16px;
}
h5{
  font-size: 14px;
}
h6{
  font-size: 13px;
}
label{
  margin-bottom: 5px;
  font-weight: 700;
}
.header{
  padding: 13px 0;
  background: #ece9ec;
  color: #ffffff;
}
.header .logo{
  text-align: center;
}
.header .logo img{
  width: 187px;
}
.full_h{
  height: 100%;
}
.k_wrapper{
  background:#fff;
  min-height: 100%;
  height: auto !important;
  margin-bottom: -120px;
  overflow: hidden;
}
.k_layout{

}
footer{
  position: relative;
  overflow: hidden;
}
.footer_inside{
  padding: 30px 0 30px 15px;
  background: #ece9ec;
  color: #ffffff;
}
.footer_inside, .push {
  height: 120px;
}

#k_sidebar{
  background: #611B64;
  color: #ffffff;
   margin-bottom: -99999px;
  padding-bottom: 99999px;
}

#k_sidebar .list_entries li a{
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  color: #ffffff;
  margin: 0 -15px;
}
#k_sidebar .list_entries li a.active,
#k_sidebar .list_entries li a:hover{
  background: rgba(245, 243, 243, 0.21);
  color: #ffffff;
  text-decoration: none;
}
#k_content{
  background: #ffffff;
  color: #666;
}
.k_content_title, .k_content_sub_title{
  margin: 10px 0 20px 0;
}
.el_value{
  padding: 0 10px;
}

/* UI Grid */
.ui-grid-cell{
  border-color: #b7a261;
}
.ui-grid-top-panel{
  background: #ffffff;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {

}
.k_wrap_buttons{
  margin-bottom: 10px;
}
.k_success{
  background: #dcbf66;
  color: #ffffff;
  font-size: 16px;
  outline: none;
}
.k_success:hover{
  background: #804882;
  color: #ffffff;
  font-size: 16px;
}
.k_image_admin{
  width: 25px;
  height: auto;
  margin: 0 auto;
  display: block;
}
.red { color: red;  background-color: yellow !important; }
.blue { color: blue;  }