
    <div class="photo">
    <div class="row">
        <div class="col-md-12">
            <h3 class="k_content_sub_title">Music Albums</h3>
        </div>
    </div>
    <div class="row">
        <div class="k_wrap_buttons col-md-12">
            <button type="button" id="addData" class="btn k_success" ng-click="addData()">Add Row</button>
            <button type="button" class="btn k_success" ng-click="clearAll()">Clear All</button>
            <button type="button" class="btn k_success" ng-click="deleteSelected()">Delete Selected</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="grid1" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-validate ui-grid-selection ui-grid="gridOptions" class="grid"></div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="/">
                    <div class="form-group">
                        <label><span class="el_title">id</span><span class="el_value">8</span></label>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="k_input form-control" value="Name">
                    </div>
                    <div class="form-group">
                        <label>Cover</label>
                        <input type="file" class="k_input form-control" value="Cover">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="k_submit" value="Save">
                    </div>
                </form>
            </div>
        </div>

    </div>
