
    <div class="photo">
        <div class="row">
            <div class="col-md-12">
                <h3 class="k_content_sub_title">Music Albums</h3>
            </div>
        </div>
        <div class="row">
            <div class="k_wrap_buttons col-md-12">
                <button type="button" id="addData" class="btn k_success" ng-click="addData()">Add Row</button>
                <button type="button" class="btn k_success" ng-click="clearAll()">Clear All</button>
                <button type="button" class="btn k_success" ng-click="deleteSelected()">Delete Selected</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grid1" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-validate ui-grid-selection ui-grid="gridOptions" class="grid"></div>
            </div>
        </div>

        <div class="row">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3>Add Album</h3>
                </div>
                <form role="form" name="myForm" ng-submit="submit(myForm)" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputAddName">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="add_row.name" id="inputAddName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-sm-2 control-label">Cover Image</label>
                                </div>

                                <label class="col-sm-2 control-label">Large</label>
                                <div class="col-sm-10">
                                    <input type="file" nv-file-select uploader="uploader"/><br/>
                                    <ul>
                                        <li ng-repeat="item in uploader.queue">
                                            Name: <span ng-bind="item.file.name"></span><br/>
                                            <!--<button ng-click="item.upload()">upload</button>-->
                                        </li>
                                    </ul>
                                    <!--<preview-image ng-model="add_row.large" image-name="Large"></preview-image>-->
                                </div>
                                <label class="col-sm-2 control-label">Small</label>
                                <div class="col-sm-10">
                                    <!--<preview-image ng-model="add_row.small" image-name="Small"></preview-image>-->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </script>

        </div>

        </div>

    </div>
