<div class="concerts">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="k_content_title">Concerts</h2>
        </div>
    </div>
    <div class="row">
        <div class="k_wrap_buttons col-md-12">
            <button type="button" id="addData" class="btn k_success" ng-click="addData()">Add Concert</button>
            <button type="button" class="btn k_success" ng-click="clearAll()">Clear All</button>
            <button type="button" class="btn k_success" ng-click="deleteSelected()">Delete Selected</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="grid3" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-validate ui-grid-selection ui-grid="gridOptions" class="grid"></div>
        </div>
    </div>

    <div class="row">
        <script type="text/ng-template" id="concertsModalContent.html">
            <div class="modal-header">
                <h3>Add Concert</h3>
            </div>
            <form role="form" name="myForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <div class="file_container">
                                    Large
                                    <input type="file" ngf-select ng-model="concertImage" name="imageFile" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
                                </div>
                                <i ng-show="myForm.imageFile.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                                <img ng-show="myForm.imageFile.$valid" ngf-thumbnail="concertImage" class="thumb">
                                <button ng-click="concertImage = null" class="btn btn-danger btn_short" ng-show="concertImage">Remove</button>

                                <span class="progress" ng-show="concertImage.progress >= 0">
                                        <div style="width:{{concertImage.progress}}%" ng-bind="concertImage.progress + '%'"></div>
                                    </span>
                                <span ng-show="concertImage.result">Image Uploaded Successfully</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="country" ng-model="country" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="city" ng-model="city" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Place</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="place" ng-model="place" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="date" ng-model="date" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control" rows="5" name="description" ng-model="description" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Link</label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control" rows="5" name="link" ng-model="link" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button  class="btn btn-info" ng-disabled="!myForm.$valid" ng-click="uploadPic(concertImage)">Save</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </div>
            </form>
        </script><!--myModalContent-->
    </div>
</div>