<div class="videos">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="k_content_title">Add Video</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="/">
                <div class="form-group">
                    <label><span class="el_title">id</span><span class="el_value">4</span></label>
                </div>
                <div class="form-group">
                    <label>name</label>
                    <input type="text" class="k_input form-control" placeholder="name">
                </div>
                <div class="form-group">
                    <label>link</label>
                    <input type="text" class="k_input form-control" placeholder="link">
                </div>

                <div class="form-group">
                    <label>performer</label>
                    <input type="text" class="k_input form-control" placeholder="performer">
                </div>

                <div class="form-group">
                    <label>music_by</label>
                    <input type="text" class="k_input form-control" placeholder="music_by">
                </div>

                <div class="form-group">
                    <label>lyrics_by</label>
                    <input type="text" class="k_input form-control" placeholder="music_by">
                </div>
                <div class="form-group">
                    <input type="submit" class="k_submit" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>