<div class="photo">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="k_content_title">photo</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="/">
                <div class="form-group">
                    <label><span class="el_title">id</span><span class="el_value">4</span></label>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="k_input form-control" value="Name">
                </div>
                <div class="form-group">
                    <label>Link</label>
                    <input type="text" class="k_input form-control" value="Link">
                </div>
                <div class="form-group">
                    <label>Album id</label>
                    <input type="text" class="k_input form-control" value="Album id">
                </div>

                <div class="form-group">
                    <input type="submit" class="k_submit" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>