<div class="news">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="k_content_title">News</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="/">
                <div class="form-group">
                    <label><span class="el_title">id</span><span class="el_value">4</span></label>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="k_input form-control" value="Title">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="k_input form-control" rows="3">Description</textarea>
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input type="text" class="k_input form-control" value="Image">
                </div>
                <div class="form-group">

                    <label>Date</label>
                    <p class="input-group">
                        <input type="text" class="k_input form-control" uib-datepicker-popup="{{format}}" ng-model="dt"
                               is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>

                <div class="form-group">
                    <label>Link</label>
                    <input type="text" class="k_input form-control" value="Link">
                </div>
                <div class="form-group">
                    <input type="submit" class="k_submit" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>