<div class="link">
     <form class="form-horizontal" name="links" >
        <fieldset>

            <!-- Form Name -->
            <legend>Links</legend>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="text">Kohar Website</label>
                <div class="col-md-8">
                    <input type="text" ng-model="links.kohar_website" name="kohar_website" size="100">
                </div>
            </div>
<!-- Textarea -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="text">Kohar Blog</label>
                <div class="col-md-8">
                    <input type="text" ng-model="links.kohar_blog" name="kohar_blog" size="100">
                </div>
            </div>
<!-- Textarea -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="text">Kohar Library</label>
                <div class="col-md-8">
                    <input type="text" ng-model="links.kohar_library" name="kohar_library" size="100">
                </div>
            </div>
<!-- Textarea -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="text">Kohar Music School</label>
                <div class="col-md-8">
                    <input type="text" ng-model="links.kohar_music_school" name="kohar_music_school" size="100">
                </div>
            </div>
<!-- Textarea -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="text">Kohar Kohar Artisan</label>
                <div class="col-md-8">
                    <input type="text" ng-model="links.kohar_kohar_artisan" name="kohar_kohar_artisan" size="100">
                </div>
            </div>
<!-- Textarea -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="text">Facebook</label>
                <div class="col-md-8">
                    <input type="text" ng-model="links.facebook" name="facebook" size="100">
                </div>
            </div>
<!-- Textarea -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="text">Twitter</label>
                <div class="col-md-8">
                    <input type="text" ng-model="links.twitter" name="twitter" size="100">
                </div>
            </div>
<!-- Textarea -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="text">You Tube</label>
                <div class="col-md-8">
                    <input type="text" ng-model="links.youtube" name="youtube" size="100">
                </div>
            </div>
<!-- Textarea -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="text">Flickr</label>
                <div class="col-md-8">
                    <input type="text" ng-model="links.flickr" name="flickr" size="100">
                </div>
            </div>
<!-- Textarea -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="text">Wikipedia</label>
                <div class="col-md-8">
                    <input type="text" ng-model="links.wikipedia" name="wikipedia" size="100">
                </div>
            </div>
<!-- Textarea -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="text">News</label>
                <div class="col-md-8">
                    <input type="text" ng-model="links.news" name="news" size="100">
                </div>
            </div>
<!-- Textarea -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="text">Shop</label>
                <div class="col-md-8">
                    <input type="text" ng-model="links.shop" name="shop" size="100">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="submit">Save</label>
                <div class="col-md-4">
                    <button id="submit" name="submit" ng-click="submitForm(links)" class="btn btn-success">Submit</button>
                </div>
            </div>

        </fieldset>
    </form>


</div>